# Ignore everything
*

# But not these files...
!*.config
!*.csv
!dockerfile
!.dockerignore
!*.erl
!*.ex
!.gitignore
!.gitkeep
!*.hrl
!*.ini
!makefile
!*.md
!post-checkout
!pre-commit
!prepare-commit-msg
!*.properties
!.properties
!*.py
!pyproject.toml
!*.sbt
!.sbt
!*.scala
!*.sh
!*.sql
!*.src
!*.txt
!*.vim
!*.yaml
!*.yml

# Do not ignore these folders neither.
!code/alembic/*
!data/*
!other/*

# ...even if they are in subdirectories
!*/

# But do ignore these directories
_build/
.metals/
project/
target/
tmp/
typer_ann/

# vim: set fileformat=unix filetype=conf wrap :
